#product-nav-container {
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 160px;
	div {
		float: left;
		text-align: center;
		width: 77px;
	}
	img {
		max-height: 100%;
		max-width: 80%;
	}
	span {
		display: block;
		height: 65px;
	}
	.divided span {
		border-right: 1px solid $gainsboro;
		padding-right: 5px;
	}
}

.pdp-main {
	@extend %clearfix;
	margin: 0 1%;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	label {
		padding: 0;
		text-align: left;
		text-transform: uppercase;
		width: auto;
	}
	.product-col-1 {
		float: left;
		width: 37%;
	}
	.product-primary-image {
		max-width: 100%;
		padding: 1em 0 0;
		text-align: center;
	}
}

.main-image {
	display: block;
}
.primary-image {
	max-width: 100%;
}

.product-thumbnails {
	ul {
		@extend %clearfix;
	}
	// thumbnail
	.thumb {
		border-bottom: 5px solid $white;
		float: left;
		margin-right: .5rem;
		padding-top: 1px;
		width: 3.4375rem;
		&.selected {
			border-color: $citrus;
		}
	}
	// thumbnail image
	img {
		border: 1px solid $very-light-gray;
		box-sizing: border-box;
		cursor: pointer;
		max-width: 100%;
		height: auto;
	}
	h2 {
		margin: 1rem 0 .3rem;
	}
}

.pdp-main {
	.product-col-2 {
		float: right;
		width: 59.5%;
		.price-standard {
			border-right: 1px solid $gainsboro;
			padding-right: .5rem;
		}
	}
	.product-name {
		margin-top: 1rem;
		margin-bottom: .3rem;
		@media screen and (min-width: 768px) {
			width: 65%;
		}
	}
	.product-number {
		color: $very-light-gray;
		font-size: .65rem;
		margin-bottom: .5rem;
	}
	.product-price {
		font-size: 1.5rem;
		margin-bottom: .5em;
		.price-standard {
			color: $nobel;
			text-decoration: line-through;
		}
		.price-tiered {
			color: $sangria;
			font-size: .6em;
			line-height: 1.5em;
		}
	}
	.product-review {
		@extend %clearfix;
		margin-bottom: .5rem;
		.rating {
			color: $sangria;
		}
	}
	.product-main-attributes {
		.attribute {
			padding: .2em 0;
		}
		.label {
			padding: 0;
		}
	}
}

.product-variations,
.product-options {
	margin-left: .5em;
	.attribute {
		margin: 1em 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		h3,
		.label {
			font-weight: bold;
			margin-bottom: .3rem;
			text-transform: uppercase;
		}
		.value {
			width: 100%;
			@media screen and (min-width: 768px) {
				width: 75%;
			}
		}
		ul {
			float: right;
			width: 100%;
		}
		.selected-value {
			border: 0 none;
			color: $citrus;
			font-weight: bold;
			padding: 1.3em 0 0 .4em;
			text-transform: uppercase;
			@media screen and (min-width: 768px)  {
				padding-top: .8em;
			}
		}
		.size-chart-link {
			clear: both;
			float: none;
			a {
				border-color: $white !important;
				padding: 0;
			}
		}
	}
	.swatches li {
		float: left;
		&:hover,
		&.selected {
			a {
				border-color: $citrus;
			}
		}
		&.unselectable {
			a {
				color: $gainsboro;
				opacity: .8;
			}
			&:hover {
				a {
					border-color: $gainsboro;
				}
			}
		}
		a {
			border-color: $gainsboro;
			border-style: solid;
			border-width: 1px 1px 3px;
			display: block;
			line-height: 3.5;
			min-height: 2.625rem;
			min-width: 2.625rem;
			margin: 0 .5rem .5rem 0;
			padding: 1px;
			text-align: center;
			white-space: nowrap;
			@media screen and (min-width: 768px) {
				line-height: 2.7;
				min-height: 2rem;
				min-width: 2rem;
			}
		}
	}
	.color li {
		a {
			line-height: 0;
			width: 2.625rem;
			height: 2.625rem;
			@media screen and (min-width: 768px) {
				width: 2rem;
				height: 2rem;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	select {
		background-color: $white;
		border: 1px solid $gainsboro;
		border-radius: 0;
		height: 42px;
		width: 100%;
		margin-left: 0;
		@media screen and (min-width: 768px) {
			height: 32px;
		}
	}
}

.product-set .product-add-to-cart {
	display: block;
}

.pdp-main .product-add-to-cart {
	border-bottom: 1px solid $very-light-gray;
	border-top: 1px solid $very-light-gray;
	margin: 0;
	padding: 1em .5em;
 	overflow: hidden;
	.inventory {
		float: left;
		white-space: nowrap;
		label {
			display: inline;
			float: none;
			text-align: right;
		}
		input {
			font-size: 1.5em;
			height: 50px;
			width: 50px;
			margin-right: .4em;
			text-align: center;
			@media screen and (min-width: 768px) {
				height: 37px;
				width: 37px;
			}
		}
	}
	.product-price {
		float: left;
		font-size: 2em;
		margin: 0;
		padding-top: .3rem;
		padding-bottom: .5em;
		text-align: right;
	}
	button {
		float: right;
		height: 50px;
		white-space: nowrap;
		width: 55%; //for IE
		width: max-content;
		@media screen and (min-width: 768px) {
			height: 37px;
		}
	}
}

.pdp-main {
	.product-actions {
		@extend %clearfix;
		padding: 1em .5em;
		.socialsharing {
			float: none;
 			margin-right: .2rem;
 			padding-top: 1em;
 			@media screen and (min-width: 960px) {
 				float: left;
 				padding-top: 0;
 			}
		}
		a {
			margin-right: .1rem;
			&.share-icon {
				color: $nobel;
				&:hover {
					color: $citrus;
				}
				i {
					font-size: 2rem;
				}
			}
		}
	}
	.recommendations {
		clear: left;
		padding: 2em 0;
		width: 350px;
		h2 {
			font-size: 2em;
			font-style: italic;
			font-weight: 400;
			margin-left: 14px;
		}
		#carousel-recommendations {
			position: relative;
			overflow: hidden;
			width: 300px;
		}
		ul {
			position: relative;
			width: 2000em;
		}
		li {
			float: left;
			width: 100px;
		}
		.product-tile {
			padding: 0 .5em;
		}
		.product-image {
			height: 90px;
		}
		.product-name {
			font-size: 1em;
			margin: .2em 0;
			width: 100%;
		}
		.product-price {
			font-size: 1em;
		}
		.jcarousel-clip {
			margin: auto;
			overflow: hidden;
			width: 300px;
		}
		.jcarousel-nav {
			cursor: pointer;
			position: absolute;
			width: 9px;
			height: 17px;
			top: 20%;
			&.inactive {
				display: none;
			}
		}
		.jcarousel-prev {
			background: url("../images/interface/icon-jcarousel-horiz-arrow-left.png") repeat scroll 0 0 transparent;
			left: 0;
		}
		.jcarousel-next {
			background: url("../images/interface/icon-jcarousel-horiz-arrow-right.png") repeat scroll 0 0 transparent;
			right: 0;
		}
		.product-tile:hover .recommendation-tooltip {
			display: block !important;
		}
	}
}

.js .pdp-main .recommendations .product-tile .recommendation-tooltip {
	display: none !important;
}

.pdp-main {
	.recommendations .recommendation-tooltip {
		background: none repeat scroll 0 0 $white;
		border: 1px solid;
		left: 50%;
		position: absolute;
		text-align: left;
		top: 50%;
		width: 300px;
		z-index: 100;
	}
	.promotion {
		border-top: 1px solid #ccc;
		margin: 1em 0;
		overflow: hidden;
		padding: 1.5em 1.5em .7em 1.5em;
		.promotion-callout {
			color: $rain-forest;
		}
	}
	.product-tabs {
		border: none;
		.print-page {
			right: 0;
			position: absolute;
		}
		.tabs-menu {
			height: 2.4rem;
			li a {
				padding: .6rem 1rem;
			}
		}
		.tab-content {
			min-height: 6.25rem;
			ul {
				list-style-type: disc;
				margin-left: 2rem;
			}
			ol {
				list-style-type: decimal;
				margin-left: 2rem;
				padding: 0;
			}
		}
	}
	.product-set-list {
		border-top: 1px solid $gainsboro;
		margin: 0 0 0 6px;
		.product-set-item {
			border-bottom: 1px solid $gainsboro;
			clear: both;
			margin: 1em 0;
			overflow: hidden;
			padding: 1em 0 0;
		}
		.product-set-image {
			float: left;
			width: 22%;
		}
		.product-set-details {
			float: left;
			width: 78%;
		}
		.attribute {
			h3, .label {
				width: 25%;
			}
		}
		.product-name {
			float: none;
			font-size: 1.3em;
			margin: 0;
			width: auto;
		}
		.block-add-to-cart {
			background: none repeat scroll 0 0 $white-smoke;
			clear: both;
			overflow: hidden;
			padding: .5em 0;
			.inventory {
				float: left;
				margin-left: 22%;
				width: 20%;
			}
			label {
				padding: .7em 0;
				text-align: left;
				width: 40%;
			}
			.input-text {
				width: 35px;
			}
			.product-price {
				float: left;
				font-size: 1.6em;
				margin: 0;
				padding: 6px 0 0;
				text-align: right;
				width: 35%;
			}
			button {
				float: right;
				font-size: .9em;
				margin: 3px 5px 0 0;
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}

.js button.add-all-to-cart {
	display: inherit;
}
